In [1]:
import pandas as pd
import pandas as pd

URL = 'https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv'
# na_filter=False to avoid interpreting country code "NA" as numpy's NaN value
countries = pd.read_csv(URL, dtype=str, na_filter=False)
countries = countries[['alpha-2', 'name', 'region', 'sub-region']]
countries = countries.sort_values(by='alpha-2')
countries = countries.rename(columns={'alpha-2':'code','region':'continent','sub-region':'region'})
countries
#countries = pd.read_csv('countries.tsv', encoding='utf8', sep='\t', na_filter=None)
#countries

    code                  name continent                           region
5     AD               Andorra    Europe                  Southern Europe
233   AE  United Arab Emirates      Asia                     Western Asia
0     AF           Afghanistan      Asia                    Southern Asia
9     AG   Antigua and Barbuda  Americas  Latin America and the Caribbean
7     AI              Anguilla  Americas  Latin America and the Caribbean
..   ...                   ...       ...                              ...
246   YE                 Yemen      Asia                     Western Asia
142   YT               Mayotte    Africa               Sub-Saharan Africa
206   ZA          South Africa    Africa               Sub-Saharan Africa
247   ZM                Zambia    Africa               Sub-Saharan Africa
248   ZW              Zimbabwe    Africa               Sub-Saharan Africa

[249 rows x 4 columns]

In [2]:
URL_BASE = 'https://files.openstreetdata.org'

#countries['extract_pbf'] = URL_BASE + '/extracts/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['extract_geo'] = URL_BASE + '/extracts/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['streets']     = URL_BASE +  + '/addresses/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['streets_count'] = countries['alpha-2'].apply(count_rows)
#countries['houses']      = URL_BASE + '/addresses/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['houses_count'] = countries['alpha-2'].apply(count_rows)

import os
import humanize
import numpy as np

def filesize(path):
    if not os.path.exists(path):
        return np.nan
    size = os.path.getsize(path)
    return humanize.naturalsize(size)

countries['extract_pbf_size'] = ('extracts/' + countries['code'] + '.osm.pbf').apply(filesize)
countries = countries.dropna()
countries['addresses_streets_size'] = ('addresses/' + countries['code'] + '-streets.tsv.gz').apply(filesize)
countries['addresses_houses_size'] = ('addresses/' + countries['code'] + '-houses.tsv.gz').apply(filesize)
countries['addresses_addresses_size'] = ('addresses/' + countries['code'] + '-addresses.tsv.gz').apply(filesize)
countries

/tmp/ipykernel_472382/3506930767.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries['addresses_streets_size'] = ('addresses/' + countries['code'] + '-streets.tsv.gz').apply(filesize)
/tmp/ipykernel_472382/3506930767.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries['addresses_houses_size'] = ('addresses/' + countries['code'] + '-houses.tsv.gz').apply(filesize)
/tmp/ipykernel_472382/3506930767.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries['addresses_addresses_size'] = ('addresses/' + countries['code'] + '-addresses.tsv.gz').apply(filesize)

,code,name,continent,region,extract_pbf_size,addresses_streets_size,addresses_houses_size,addresses_addresses_size
5,AD,Andorra,Europe,Southern Europe,2.7 MB,4.4 kB,5.3 kB,3.8 kB
233,AE,United Arab Emirates,Asia,Western Asia,72.3 MB,123.1 kB,1.3 MB,225.1 kB
0,AF,Afghanistan,Asia,Southern Asia,98.2 MB,61.2 kB,NaN,NaN
9,AG,Antigua and Barbuda,Americas,Latin America and the Caribbean,9.3 MB,4.9 kB,2.8 kB,176 Bytes
7,AI,Anguilla,Americas,Latin America and the Caribbean,7.6 MB,1.1 kB,NaN,NaN
...,...,...,...,...,...,...,...,...
192,WS,Samoa,Oceania,Polynesia,3.1 MB,604 Bytes,NaN,NaN
246,YE,Yemen,Asia,Western Asia,40.9 MB,7.9 kB,NaN,NaN
206,ZA,South Africa,Africa,Sub-Saharan Africa,345.7 MB,1.3 MB,1.4 MB,168.3 kB
247,ZM,Zambia,Africa,Sub-Saharan Africa,256.3 MB,9.1 kB,NaN,NaN
248,ZW,Zimbabwe,Africa,Sub-Saharan Africa,180.5 MB,32.1 kB,148.1 kB,1.4 kB

In [3]:
def file2int(path):
    if not os.path.exists(path):
        return 0
    f = open(path)
    value = int(f.read())
    f.close()
    return value


def quality(CC):
    houses_count = file2int(f'temp/{CC}-houses-count.txt')
    buildings_count = file2int(f'temp/{CC}-building-count.txt') + 1
    print(f'{houses_count} / {buildings_count}')
    return houses_count / buildings_count

    addresses_count = file2int(f'temp/{CC}-addresses-count.txt')
    streets_count = file2int(f'temp/{CC}-streets-count.txt') + 1
    
    print(f'{addresses_count} / {streets_count}')
    return addresses_count / streets_count

# Ignored, not accurate at all
#countries['addresses_quality'] = countries['code'].apply(quality)
#countries

In [4]:
countries.to_json('www/countries.json', orient='records')