In [1]:
import pandas as pd

countries = pd.read_csv('countries.tsv', encoding='utf8', sep='\t', na_filter=None)
countries

    alpha-2               name   region          sub-region
0        AF        Afghanistan     asia       southern-asia
1        AX      Åland Islands   europe     northern-europe
2        AL            Albania   europe     southern-europe
3        DZ            Algeria   africa     northern-africa
4        AS     American Samoa  oceania           polynesia
..      ...                ...      ...                 ...
244      WF  Wallis and Futuna  oceania           polynesia
245      EH     Western Sahara   africa     northern-africa
246      YE              Yemen     asia        western-asia
247      ZM             Zambia   africa  sub-saharan-africa
248      ZW           Zimbabwe   africa  sub-saharan-africa

[249 rows x 4 columns]

In [2]:
countries = countries.rename(columns={'alpha-2': 'code'})[['code', 'name']]
countries = countries.sort_values(by='code')
countries

    code                  name
5     AD               Andorra
233   AE  United Arab Emirates
0     AF           Afghanistan
9     AG   Antigua and Barbuda
7     AI              Anguilla
..   ...                   ...
246   YE                 Yemen
142   YT               Mayotte
206   ZA          South Africa
247   ZM                Zambia
248   ZW              Zimbabwe

[249 rows x 2 columns]

In [3]:
URL_BASE = 'https://files.openstreetdata.org'

def count_rows(country_code):
    return country_code

#countries['extract_pbf'] = URL_BASE + '/extracts/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['extract_geo'] = URL_BASE + '/extracts/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['streets']     = URL_BASE +  + '/addresses/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['streets_count'] = countries['alpha-2'].apply(count_rows)
#countries['houses']      = URL_BASE + '/addresses/' + countries['alpha-2'] + '-houses.tsv.gz'
#countries['houses_count'] = countries['alpha-2'].apply(count_rows)

import os
import humanize
import numpy as np

def filesize(path):
    if not os.path.exists(path):
        return np.nan
    size = os.path.getsize(path)
    return humanize.naturalsize(size)

countries['extract_pbf_size'] = ('extracts/' + countries['code'] + '.osm.pbf').apply(filesize)
countries = countries.dropna()
countries['addresses_streets_size'] = ('addresses/' + countries['code'] + '-streets.tsv.gz').apply(filesize)
countries['addresses_houses_size'] = ('addresses/' + countries['code'] + '-houses.tsv.gz').apply(filesize)
countries

/tmp/ipykernel_271391/228578786.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries['addresses_streets_size'] = ('addresses/' + countries['code'] + '-streets.tsv.gz').apply(filesize)
/tmp/ipykernel_271391/228578786.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  countries['addresses_houses_size'] = ('addresses/' + countries['code'] + '-houses.tsv.gz').apply(filesize)

,code,name,extract_pbf_size,addresses_streets_size,addresses_houses_size
5,AD,Andorra,2.4 MB,4.5 kB,5.3 kB
233,AE,United Arab Emirates,68.3 MB,64.9 kB,NaN
0,AF,Afghanistan,96.1 MB,NaN,NaN
9,AG,Antigua and Barbuda,2.6 MB,4.2 kB,NaN
7,AI,Anguilla,870.2 kB,1.1 kB,NaN
...,...,...,...,...,...
192,WS,Samoa,3.0 MB,604 Bytes,NaN
246,YE,Yemen,34.9 MB,7.9 kB,NaN
206,ZA,South Africa,341.9 MB,95 Bytes,NaN
247,ZM,Zambia,251.6 MB,9.1 kB,NaN
248,ZW,Zimbabwe,179.1 MB,32.0 kB,148.0 kB

In [4]:
countries.to_json('www/countries.json', orient='records')